**/target/
**/*.rs.bk
**/*.bytecode
**/__pycache__/*
**/*.pytest_cache
.*sw*
.repl_history.txt
.vscode
wasm-pack.log
.idea/
extra_tests/snippets/resources

flame-graph.html
flame.txt
flamescope.json

**/node_modules/
wasm/**/dist/
wasm/lib/pkg/
