/target
/*/target
**/*.rs.bk
**/*.bytecode
__pycache__/
**/*.pytest_cache
.*sw*
.repl_history.txt
.vscode/
wasm-pack.log
.idea/
.envrc
.python-version

flame-graph.html
flame.txt
flamescope.json
/wapm.lock
/wapm_packages
/.cargo/config

extra_tests/snippets/resources
extra_tests/not_impl.py

Lib/site-packages/*
!Lib/site-packages/README.txt
Lib/test/data/*
!Lib/test/data/README
cpython/

