/target
/*/target
**/*.rs.bk
**/*.bytecode
__pycache__/
**/*.pytest_cache
.*sw*
.repl_history.txt
.vscode/
wasm-pack.log
.idea/
.envrc
.python-version

flame-graph.html
flame.txt
flamescope.json
/wapm.lock
/wapm_packages
/.cargo/config

extra_tests/snippets/resources
extra_tests/not_impl.py

Cargo.lock


Lib/site-packages/*
!Lib/site-packages/README.txt
Lib/test/data/*
!Lib/test/data/README

Cargo.lock
refs/Cowboy_An_Actor-Model_Layer1 with Verifiable_Off-Chain_Compute_CN.md
refs/Cowboy_An_Actor-Model_Layer1 with Verifiable_Off-Chain_Compute_EN.md
refs/Cowboy_An_Actor-Model_Layer1 with Verifiable_Off-Chain_Compute(Sugguestion-SDK Ergonomics)_v2.md
refs/Cowboy_An_Actor-Model_Layer1 with Verifiable_Off-Chain_Compute(Sugguestion-SDK Ergonomics)_v3_EN.md
