/target
/*/target
**/*.rs.bk
**/*.bytecode
__pycache__
**/*.pytest_cache
.*sw*
.repl_history.txt
.vscode
wasm-pack.log
.idea/

flame-graph.html
flame.txt
flamescope.json
/wapm.lock
/wapm_packages
/.cargo/config

extra_tests/snippets/resources
extra_tests/snippets/not_impl.py
