#
# This list is used by git-shortlog to aggregate contributions.  It is
# necessary when either the author's full name is not always written
# the same way, and/or the same author contributes from different
# email addresses.
#

Noa <coolreader18@gmail.com> <33094578+coolreader18@users.noreply.github.com>
