
matrix:
  fast_finish: true
  include:
    - name: Run rust tests
      language: rust
      rust: stable
      cache: cargo
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
      env:
        # Prevention of cache corruption.
        # See: https://docs.travis-ci.com/user/caching/#caches-and-build-matrices
        - JOBCACHE=1

    # To test the snippets, we use Travis' Python environment (because
    # installing rust ourselves is a lot easier than installing Python)
    - name: python test snippets
      language: python
      python: 3.6
      cache:
        - pip
        - cargo
      env:
        - JOBCACHE=2
        - TRAVIS_RUST_VERSION=stable
        - CODE_COVERAGE=false
      script: tests/.travis-runner.sh

    - name: Check rust code style with rustfmt
      language: rust
      rust: stable
      cache: cargo
      before_script:
        - rustup component add rustfmt
      script:
        - cargo fmt --all -- --check
      env:
        - JOBCACHE=3

    - name: Lint code with clippy
      language: rust
      rust: stable
      cache: cargo
      before_script:
        - rustup component add clippy
      script:
        - cargo clippy --all -- -Dwarnings
      env:
        - JOBCACHE=8

    - name: publish documentation
      language: rust
      rust: stable
      cache: cargo
      script:
        - cargo doc --no-deps --all
      if: branch = release
      env:
        - JOBCACHE=4
      deploy:
        - provider: pages
          repo: RustPython/website
          target-branch: master
          local-dir: target/doc
          skip-cleanup: true
          # Set in the settings page of your repository, as a secure variable
          github-token: $WEBSITE_GITHUB_TOKEN
          keep-history: true

    - name: WASM online demo
      language: rust
      rust: stable
      cache: cargo
      install:
        - nvm install node
        # install wasm-pack
        - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      script:
        - cd wasm/demo
        - npm install
        - npm run dist
      if: branch = release
      env:
        - JOBCACHE=5
      deploy:
        - provider: pages
          repo: RustPython/demo
          target-branch: master
          local-dir: wasm/demo/dist
          skip-cleanup: true
          # Set in the settings page of your repository, as a secure variable
          github-token: $WEBSITE_GITHUB_TOKEN
          keep-history: true

    - name: Code Coverage
      language: python
      python: 3.6
      cache:
        - pip
        - cargo
      script:
        - tests/.travis-runner.sh
      # Only do code coverage on master via a cron job.
      if: branch = master AND type = cron
      env:
        - JOBCACHE=6
        - TRAVIS_RUST_VERSION=nightly
        - CODE_COVERAGE=true

    - name: test WASM
      language: python
      python: 3.6
      cache:
        - pip
        - cargo
      addons:
        firefox: latest
      install:
        - nvm install node
        - pip install pipenv
      script:
        - wasm/tests/.travis-runner.sh
      env:
        - JOBCACHE=7
        - TRAVIS_RUST_VERSION=stable
