[package]
name = "rustpython"
version = "0.0.1"
authors = ["Windel Bouwman", "Shing Lyu <shing.lyu@gmail.com>"]
edition = "2018"

[workspace]
members = [".", "derive", "vm", "wasm/lib", "parser"]

[[bench]]
name = "bench"
path = "./benchmarks/bench.rs"


[dependencies]
log="0.4.1"
env_logger="0.5.10"
clap = "2.31.2"
rustpython_parser = {path = "parser"}
rustpython_vm = {path = "vm"}
rustyline = "4.1.0"
xdg = "2.2.0"

[dev-dependencies.cpython]
version = "0.2"
