[package]
name = "rustpython"
version = "0.1.2"
authors = ["RustPython Team"]
edition = "2018"
description = "A python interpreter written in rust."
repository = "https://github.com/RustPython/RustPython"
license = "MIT"
include = ["LICENSE", "Cargo.toml", "src/**/*.rs"]

[workspace]
resolver = "2"
members = [
    ".", "ast", "bytecode", "common", "compiler", "compiler/porcelain",
    "derive", "jit", "parser", "vm", "vm/pylib-crate", "stdlib", "wasm/lib",
]

[features]
default = ["threading", "pylib", "zlib", "stdlib"]
stdlib = ["rustpython-stdlib"]
flame-it = ["rustpython-vm/flame-it", "flame", "flamescope"]
freeze-stdlib = ["rustpython-vm/freeze-stdlib"]
jit = ["rustpython-vm/jit"]
threading = ["rustpython-vm/threading"]
pylib = ["rustpython-vm/pylib"]
zlib = ["rustpython-stdlib/zlib"]
ssl = ["rustpython-stdlib/ssl"]
ssl-vendor = ["rustpython-stdlib/ssl-vendor"]

[dependencies]
log = "0.4"
env_logger = { version = "0.8", default-features = false, features = ["atty", "termcolor"] }
clap = "2.33"
rustpython-compiler = { path = "compiler/porcelain", version = "0.1.1" }
rustpython-parser = { path = "parser", version = "0.1.1" }
rustpython-vm = { path = "vm", version = "0.1.1", default-features = false, features = ["compile-parse"] }
rustpython-stdlib = {path = "stdlib", optional = true, default-features = false, features = ["compile-parse"]}
dirs = { package = "dirs-next", version = "2.0.0" }
num-traits = "0.2.8"
cfg-if = "1.0"
libc = "0.2"

flame = { version = "0.2", optional = true }
flamescope = { version = "0.1", optional = true }

[target.'cfg(not(target_os = "wasi"))'.dependencies]
rustyline = "9"

[dev-dependencies]
cpython = "0.6"
python3-sys = "0.6"
criterion = "0.3"

[[bench]]
name = "execution"
harness = false

[[bench]]
name = "microbenchmarks"
harness = false

[[bin]]
name = "rustpython"
path = "src/main.rs"

[profile.dev.package."*"]
opt-level = 3

[profile.test]
opt-level = 3
lto = "thin"

[profile.bench]
lto = true
codegen-units = 1
opt-level = 3

[patch.crates-io]
# REDOX START, Uncommment when you want to compile/check with redoxer
# REDOX END
