[package]
name = "rustpython_vm"
version = "0.1.0"
authors = ["Shing Lyu <shing.lyu@gmail.com>"]
edition = "2018"

[dependencies]
num-complex = { version = "0.2", features = ["serde"] }
num-bigint = { version = "0.2.1", features = ["serde"] }
num-traits = "0.2"
num-integer = "0.1.39"
num-rational = "0.2.1"
rand = "0.5"
log = "0.3"
rustpython_derive = {path = "../derive"}
rustpython_parser = {path = "../parser"}
rustpython_compiler = {path = "../compiler"}
serde = { version = "1.0.66", features = ["derive"] }
serde_json = "1.0.26"
byteorder = "1.2.6"
regex = "1"
rustc_version_runtime = "0.1.*"
statrs = "0.10.0"
caseless = "0.2.1"
unicode-segmentation = "1.2.1"
unicode-xid = "0.1.0"
lazy_static = "^1.0.1"
lexical = "2.0.0"
itertools = "^0.8.0"
hexf = "0.1.0"
indexmap = "1.0.2"
crc = "^1.0.0"
bincode = "1.1.4"
unicode_categories = "0.1.1"


# TODO: release and publish to crates.io
[dependencies.unicode-casing]
git = "https://github.com/OddCoincidence/unicode-casing"
rev = "90d6d1f02b9cc04ffb55a5f1c3fa1455a84231fb"

[target.'cfg(all(unix, not(target_os = "android")))'.dependencies]
pwd = "1"
