[package]
name = "rustpython-jit"
version = "0.2.0"
description = "Experimental JIT(just in time) compiler for python code."
authors = ["RustPython Team"]
repository = "https://github.com/RustPython/RustPython"
license = "MIT"
edition = "2021"

autotests = false

[dependencies]
rustpython-compiler-core = { path = "../compiler/core", version = "0.2.0" }

cranelift = "0.88.0"
cranelift-jit = "0.88.0"
cranelift-module = "0.88.0"
libffi = "2.0.0"
num-traits = "0.2"
thiserror = "1.0"

[dev-dependencies]
rustpython-derive = { path = "../derive", version = "0.2.0" }

approx = "0.5.1"

[[test]]
name = "integration"
path = "tests/lib.rs"
