[package]
name = "rustpython-jit"
version = "0.1.2"
description = "Experimental JIT(just in time) compiler for python code."
authors = [ "RustPython Team" ]
repository = "https://github.com/RustPython/RustPython"
license = "MIT"
edition = "2018"

[dependencies]
cranelift = "0.66.0"
cranelift-module = "0.66.0"
cranelift-simplejit = "0.66.0"
num-traits = "0.2"
libffi = "0.9.0"
rustpython-bytecode = { path = "../bytecode", version = "0.1.1" }
thiserror = "1.0"
