[package]
name = "rustpython-compiler"
version = "0.2.0"
description = "A usability wrapper around rustpython-parser and rustpython-compiler-core"
authors = ["RustPython Team"]
edition = "2021"

[dependencies]
rustpython-codegen = { path = "codegen" }
rustpython-compiler-core = { workspace = true }
rustpython-parser = { workspace = true }
