textarea {
    font-family: monospace;
    resize: none;
}

#code {
    height: 35vh;
    width: calc(100% - 3px);
}

.CodeMirror {
    border: 1px solid #ddd;
    height: 35vh !important;
}

#console {
    height: 35vh;
    width: calc(100% - 3px);
}

#run-btn {
    width: 6em;
    height: 2em;
    font-size: 24px;
}

#error {
    color: tomato;
    margin-top: 10px;
    font-family: monospace;
}
