implementation=CPython
version=3.14
shared=false
abi3=true
build_flags=
suppress_build_script_link_lines=true
extra_build_script_line=cargo:rustc-link-search=native=/Users/basschoenmaeckers/repo/RustPython/target/debug
extra_build_script_line=cargo:rustc-link-lib=static=rustpython_capi
extra_build_script_line=cargo:rustc-link-lib=framework=CoreFoundation
