[package]
name = "rustpython-common"
version = "0.0.0"
authors = ["RustPython Team"]
edition = "2021"

[features]
threading = ["parking_lot"]

[dependencies]
lock_api = "0.4"
parking_lot = { version = "0.11.0", optional = true }
num-traits = "0.2"
num-complex = "0.4.0"
num-bigint = "0.4.2"
lexical-parse-float = { version = "0.8.0", features = ["format"] }
hexf-parse = "0.2.1"
cfg-if = "1.0"
once_cell = "1.4.1"
siphasher = "0.3"
rand = "0.8"
volatile = "0.3"
radium = "0.7"
libc = "0.2.101"
ascii = "1.0"
unic-ucd-category = "0.9"
