[package]
name = "rustpython-common"
version = "0.0.0"
authors = ["RustPython Team"]
edition = "2018"

[features]
threading = ["parking_lot"]

[dependencies]
lock_api = "0.4"
parking_lot = { version = "0.11.0", optional = true }
num-traits = "0.2"
num-complex = "0.4.0"
num-bigint = "0.4.0"
lexical-core = "0.7"
hexf-parse = "0.1.0"
cfg-if = "1.0"
once_cell = "1.4.1"
siphasher = "0.3"
rand = "0.8"
derive_more = "0.99.9"
volatile = "0.3"
