[package]
name = "rustpython-common"
version = "0.0.0"
authors = ["RustPython Team"]
edition = "2021"

[features]
threading = ["parking_lot"]

[dependencies]
ascii = "1.0"
bitflags = "1.3.2"
cfg-if = "1.0"
hexf-parse = "0.2.1"
itertools = "0.10.3"
lexical-parse-float = { version = "0.8.0", features = ["format"] }
libc = "0.2.133"
lock_api = "0.4"
num-bigint = "0.4.2"
num-complex = "0.4.0"
num-traits = "0.2"
once_cell = "1.4.1"
parking_lot = { version = "0.12.0", optional = true }
radium = "0.7"
rand = "0.8"
siphasher = "0.3"
unic-ucd-category = "0.9"
volatile = "0.3"

[target.'cfg(windows)'.dependencies]
widestring = "0.5.1"
