[package]
name = "pvm-alto"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
pvm-host = { path = "../pvm-host" }
pvm-runtime = { path = "../pvm-runtime" }
