[package]
name = "rustpython-codegen"
version = "0.2.0"
description = "Compiler for python code into bytecode for the rustpython VM."
authors = ["RustPython Team"]
repository = "https://github.com/RustPython/RustPython"
license = "MIT"
edition = "2021"

[dependencies]
rustpython-ast = { path = "../ast", version = "0.2.0", features = ["unparse"] }
rustpython-compiler-core = { path = "../core", version = "0.2.0" }

ahash = "0.7.6"
bitflags = "1.3.2"
indexmap = "1.8.1"
itertools = "0.10.3"
log = "0.4.16"
num-complex = { version = "0.4.0", features = ["serde"] }
num-traits = "0.2.14"
thiserror = "1.0"

[dev-dependencies]
rustpython-parser = { path = "../parser" }

insta = "1.14.0"
