name: Update doc DB

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      python-version:
        description: Target python version to generate doc db for
        type: string
        default: "3.13.9"

defaults:
  run:
    shell: bash

jobs:
  generate:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          sparse-checkout: |
            crates/rustpython_doc_db

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: Generate (${{ matrix.os }})
        run: python crates/rustpython_doc_db/generate.py

      - name: Detect output file
        id: diff
        run: echo "diff=$(git diff --name-only)" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: doc-db-${{ env.PYTHON_VERSION }}-${{ matrix.os }}
          path: ${{ steps.diff.outputs.diff }}
          if-no-files-found: error
          retention-days: 7
          overwrite: true
