name: Update doc DB

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      python-version:
        description: Target python version to generate doc db for
        type: string
        default: "3.13.9"

defaults:
  run:
    shell: bash
    working-directory: ./crates/rustpython-doc

jobs:
  generate:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          sparse-checkout: |
            crates/rustpython-doc

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: Generate docs
        run: python ./generate.py

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: doc-db-${{ inputs.python-version }}-${{ matrix.os }}
          path: "crates/rustpython-doc/generated/*.json"
          if-no-files-found: error
          retention-days: 7
          overwrite: true

  merge:
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          sparse-checkout: |
            crates/rustpython-doc

      - name: Download generated doc DBs
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: "doc-db-${{ inputs.python-version }}-**"
          path: crates/rustpython-doc/generated/
          merge-multiple: true

      - name: Transform JSON
        run: |
          # Merge all artifacts
          jq -s "add" --sort-keys generated/*.json > generated/merged.json

          # Format merged json for the phf macro
          jq -r 'to_entries[] | "    \(.key | @json) => \(.value | @json),"' generated/merged.json > generated/raw_entries.txt

          OUTPUT_FILE='src/data.inc.rs'

          echo -n '' > $OUTPUT_FILE

          echo '// This file was auto-generated by `.github/workflows/update-doc-db.yml`.' >> $OUTPUT_FILE
          echo "// CPython version: ${{ inputs.python-version }}" >> $OUTPUT_FILE
          echo '// spell-checker: disable' >> $OUTPUT_FILE

          echo '' >> $OUTPUT_FILE

          echo "pub static DB: phf::Map<&'static str, &'static str> = phf::phf_map! {" >> $OUTPUT_FILE
          cat generated/raw_entries.txt >> $OUTPUT_FILE
          echo '};' >> $OUTPUT_FILE

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: doc-db-${{ inputs.python-version }}
          path: "crates/rustpython-doc/src/data.inc.rs"
          if-no-files-found: error
          retention-days: 7
          overwrite: true
